<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
        <meta charset="utf-8">
        <title>回聲伺服器</title>
    </head>
    <body>
        <div style="margin: 0 auto; text-align: center; border-width: 3px; border-style: solid; border-color: black; width: 50%;">
            <form method="get" action="">
                <input type="text" name="msg"/>
                <input style="color: black; background-color: burlywood;" value="Send message!" type="submit"/>
            </form>
            <br/>
            <div style="margin: 0 auto; border-width: 3px; border-style: solid; border-color: black; width: 70%;">
                Hello
            </div>
        </div>
    </body>
</html>
